<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route id="sg-donations" type="admin" addon_id="SG/Donations">
        <prefix>sg-donations</prefix>
        <route_class>XF:Admin</route_class>
        <controller>SG\Donations:Admin\Campaign</controller>
    </route>
    <route id="sg-donations/donations" type="admin" addon_id="SG/Donations">
        <prefix>sg-donations/donations</prefix>
        <route_class>XF:Admin</route_class>
        <controller>SG\Donations:Admin\Donation</controller>
    </route>
    <route id="sg-donations/campaigns" type="admin" addon_id="SG/Donations">
        <prefix>sg-donations/campaigns</prefix>
        <route_class>XF:Admin</route_class>
        <controller>SG\Donations:Admin\Campaign</controller>
    </route>
    <route id="sg-donations/campaigns/tiers" type="admin" addon_id="SG/Donations">
        <prefix>sg-donations/campaigns/tiers</prefix>
        <route_class>XF:Admin</route_class>
        <controller>SG\Donations:Admin\Tier</controller>
    </route>
    <route id="sg-donations/stats" type="admin" addon_id="SG/Donations">
        <prefix>sg-donations/stats</prefix>
        <route_class>XF:Admin</route_class>
        <controller>SG\Donations:Admin\Stats</controller>
    </route>
</routes>
